<%= simple_form_for [@check_voucher, @check_particular], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |cp| %>
  <form role="form">
      <div class="field">
        <%= cp.input :particular %>
       </div>
       <div class="field">
        <%= cp.input :amount %>
       </div>
       <div class="field">
          <%= cp.input :amount_in_word %>
        </div>
    </div>
    <%= cp.submit class: "btn btn-success" %>
  </form>
  <% end %>
</div>
