= simple_form_for @employee, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |e|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Employee
          .box-body
            .field
              - if (Employee.count==0)
                = e.hidden_field :employee_no, :value => 101
              - else
                = e.hidden_field :employee_no, :value => Employee.last.employee_no + 1
            .field
              = e.input :firstname
            .field
              = e.input :lastname
            .field
              = e.input :middlename
            .field
              = e.input :gender, as: :select, collection: Employee::GENDER
            .field
              .select
                %label
                  Birthdate
                %br
                = e.date_select :birthdate, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }, input_html: { class: "datepick form-control" }
            .field
              = e.input :email
            .field
              = e.input :contact_no
            .field
              = e.input :address
            .field
              = e.input :position
            .field
              %label
                Date Employed
              %br
              = e.date_select :date_employed, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }

            - if @employee.new_record?
              
            - else
              .field
              = e.input :status, as: :select, collection: Employee::STATUS
          .box-footer
            .pull-right
              %button.btn.btn-primary.btn-flat
                %i.save.icon>
                SAVE
            