%section.content-header
  %h1
    Employee
    %small Control Panel
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
        .box-body
          = render partial: "search"

    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Employee List
        .box-body
          - if ( current_user.role == 'Admin' )
            .pull-left
              = link_to "REPORTS",employees_print_path, class: "btn btn-block btn-primary", target: "blank"
            .pull-right
              = link_to "ADD NEW EMPLOYEE", new_employee_path, class: "btn btn-block btn-primary"
          %br
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th No.
                %th Name
                %th Position
                %th Status
                %th Actions
            %tbody
              - @employees.each do |e|
                %tr
                  %td= e.employee_no
                  %td= e.to_s
                  %td= e.position
                  %td= e.status
                  %td
                    = link_to "Details", employee_path(e.id), class: "btn btn-flat btn-xs btn-default"    

