%section.content-header
  %h1
    Employee
    %small Control Panel
%section.content
  .row
    .col-md-3
      %br
        = link_to "NEW EMPLOYEE", new_employee_path, class: "btn btn-block btn-success"
  %br
    .row
      .col-md-12
        .box.box-success
          .box-header
            %h3.box-title Employee Table
          .box-body
            %table.ui.selectable.celled.table
              %thead
                %tr
                  %th Name
                  %th Position
                  %th Email
                  %th Contact No.
                  %th Actions
              %tbody
                - @employees.each do |e|
                  %tr
                    %td= e.to_s
                    %td= e.position
                    %td= e.email
                    %td= e.contact_no
                    %td
                      = link_to "SHOW", employee_path(e.id), class: "btn btn-success btn-s"
                      = link_to "EDIT", edit_employee_path(e.id), class: "btn btn-primary btn-s"
                      = link_to "DELETE", employee_path(e.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"