%body{:onload => "window.print();"}
  .wrapper
    - @company_profiles.each do |company|
      %section.invoice
        .row
          .col-xs-12
            %center
              = image_tag company.logo.url(:medium)
            %center
              %small
                = company.address
            %h3
              %center
                = @header
            %br
            %br
    %table.table.table-bordered
      %thead
        %tr
          %th No.
          %th Name
          %th Position
          %th Status
          %th Address
      %tbody
        - @num = 1
        - @employees.each do |e|
          %tr
            %td= @num
            %td= e.to_s
            %td= e.position
            %td= e.status
            %td= e.address
            - @num += 1
