%section.content-header
  %h1
    Employee
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-xs btn-success"
      .pull-right
        - if ( current_user.role == 'Admin' )
          = link_to "UPDATE", edit_employee_path(@employee.id), class: "btn btn-flat btn-xs btn-success"
          = link_to "REMOVE", employee_path(@employee.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          = link_to "PRINT", employees_details_path(@employee.id), class: "btn btn-flat btn-xs btn-primary", target: "blank"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#details"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#work"} Work Experience
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#record"} Project Record
        .tab-content
          #details.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Employee No:
                  %td= @employee.employee_no
                %tr
                  %td
                    %b Name:
                  %td= @employee.to_s
                %tr
                  %td
                    %b Position:
                  %td= @employee.position
                %tr
                  %td
                    %b Status:
                  %td= @employee.status
                %tr
                  %td
                    %b Date Employed:
                  %td= @employee.date_employed
                %tr
                  %td
                    %b Working Years:
                  %td= @employee.total_year
                %tr
                  %td
                    %b Gender:
                  %td= @employee.gender
                %tr
                  %td
                    %b Birthdate:
                  %td= @employee.birthdate
                %tr  
                  %td
                    %b Email:
                  %td= @employee.email
                %tr
                  %td
                    %b Contact No:
                  %td= @employee.contact_no
                %tr
                  %td
                    %b Address:
                  %td= @employee.address
          #work.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"employees/work_experiences/new"
            %table.ui.selectable.celled.table
              %thead
                %th Title
                %th Company Name
                %th Address
                %th Date Ended
                - if ( current_user.role == 'Admin' )
                  %th Actions
              %tbody
                - @work_experiences.each do |we|
                  %tr
                    %td= we.title
                    %td= we.company_name
                    %td= we.company_address
                    %td= we.date_ended
                    - if ( current_user.role == 'Admin' )
                      %td
                        = link_to "UPDATE", edit_employee_work_experience_path(we.employee, we), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [we.employee, we],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          #record.tab-pane
