<section class="content-header">
	<h1>Employee
		<small>Information</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="ui top attached tabular menu">
			  <a class="active item" data-tab="first">Details</a>
			  <a class="item" data-tab="second">Work Experience</a>
			</div>

			<div class="ui bottom attached active tab segment" data-tab="first">
				<div class="box box-success">
					<div class="box-body">
						<table class="ui selectable celled table">
				      <tbody>
				      	<tr>
				      		<td><b>Firstname:</b></td>
				      		<td><%= @employee.firstname %></td>
				      	</tr>
				      	<tr>	
				      		<td><b>Lastname:</b></td>
				      		<td><%= @employee.lastname %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Middlename:</b></td>
				      		<td><%= @employee.middlename %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Position:</b></td>
				      		<td><%= @employee.position %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Gender:</b></td>
				      		<td><%= @employee.gender %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Position:</b></td>
				      		<td><%= @employee.birthdate %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Email:</b></td>
				      		<td><%= @employee.email %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Contact No:</b></td>
				      		<td><%= @employee.contact_no %></td>
				      	</tr>
				      	<tr>
				      		<td><b>Address:</b></td>
				      		<td><%= @employee.address %></td>
				      	</tr>
				      </tbody>
				    </table>
					</div>
				</div>
			</div>

			<div class="ui bottom attached tab segment" data-tab="second">
				<div class="box box-success">
					<div class="box-body">
						<%= render partial:"employees/work_experiences/new"%>


						<table class="ui selectable celled table">
							<thead>
								<th>Title</th>
								<th>Company Name</th>
								<th>Address</th>
								<th>Date Ended</th>
								<th>Actions</th>
							</thead>
				      <tbody>
				      	<% @work_experiences.each do |we| %>
				      	<tr>
				      		<td><%= we.title %></td>
				      		<td><%= we.company_name %></td>
				      		<td><%= we.company_address %></td>
				      		<td><%= we.date_ended %></td>		
				      		<td>
						        <%= link_to "EDIT", edit_employee_work_experience_path(we.employee, we), class: "btn btn-success" %>
						        <%= link_to "DELETE", [we.employee, we],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s" %>
				        	</td>		      		
				      	</tr>
				      	<% end %>
				      </tbody>
				    </table>
					</div>
				</div>		  
			</div>
		</div>
	</div>
</section>



<script>
	$('.menu .item').tab();
</script>



			