%section.content-header
  %h1
    Employee
    %small Information
%section.content
  .row
    .col-md-12
      .ui.top.attached.tabular.menu
        %a.active.item{"data-tab" => "first"} Details
        %a.item{"data-tab" => "second"} Work Experience
      .ui.bottom.attached.active.tab.segment{"data-tab" => "first"}
        .box.box-success
          .box-body
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Firstname:
                  %td= @employee.firstname
                %tr
                  %td
                    %b Lastname:
                  %td= @employee.lastname
                %tr
                  %td
                    %b Middlename:
                  %td= @employee.middlename
                %tr
                  %td
                    %b Position:
                  %td= @employee.position
                %tr
                  %td
                    %b Gender:
                  %td= @employee.gender
                %tr
                  %td
                    %b Position:
                  %td= @employee.birthdate
                %tr
                  %td
                    %b Email:
                  %td= @employee.email
                %tr
                  %td
                    %b Contact No:
                  %td= @employee.contact_no
                %tr
                  %td
                    %b Address:
                  %td= @employee.address
      .ui.bottom.attached.tab.segment{"data-tab" => "second"}
        .box.box-success
          .box-body
            = render partial:"employees/work_experiences/new"
            %table.ui.selectable.celled.table
              %thead
                %th Title
                %th Company Name
                %th Address
                %th Date Ended
                %th Actions
              %tbody
                - @work_experiences.each do |we|
                  %tr
                    %td= we.title
                    %td= we.company_name
                    %td= we.company_address
                    %td= we.date_ended
                    %td
                      = link_to "EDIT", edit_employee_work_experience_path(we.employee, we), class: "btn btn-success"
                      = link_to "DELETE", [we.employee, we],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"
:javascript
  $('.menu .item').tab();