= simple_form_for @service_product, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |e|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Service/Product
          .box-body
            .field
              = e.input :name
            .form-group
              = e.input :price
            .form-group
              = e.input :description
            .form-group
              = e.input :code
            .form-group
              = e.input :type, as: :select, collection: ServiceProduct::TYPE
          .box-footer
            .row
              .col-md-10
              .col-md-2
                %button.btn.btn-primary.btn-flat
                  %i.save.icon>
                  SAVE