%section.content-header
  %h1
    Service And Product
    %small Control Panel
%section.content
  .row
    .col-md-3
      %br
        = link_to "NEW SERVICE/PRODUCT", new_service_product_path, class: "btn btn-block btn-success"
  %br
    .row
      .col-md-12
        .box.box-success
          .box-header
            %h3.box-title Service And products Table
          .box-body
            %table.table.hp-table.table-splited
              %thead
                %tr
                  %th Name
                  %th Price
                  %th Code
                  %th Type Offer
                  %th Action
              %tbody
                - @service_products.each do |sp|
                  %tr
                    %td= sp.name
                    %td= sp.price
                    %td= sp.code
                    %td= sp.type
                    %td
                      = link_to "SHOW", service_product_path(sp.id), class: "btn btn-success btn-s"
                      = link_to "EDIT", edit_service_product_path(sp.id), class: "btn btn-primary btn-s"
                      = link_to "DELETE", service_product_path(sp.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"