%section.content-header
  %h1
    Service And Product
    %small Control Panel
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
          .pull-right
            %i.inverted.circular.search.link.icon
        .box-body
          = render partial: "search"
    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Service And products List
        .box-body
          - if ( current_user.role == 'Admin' )
            .row
              .col-md-3
                = link_to "REPORTS",service_products_print_path, class: "btn btn-block btn-primary", target: "blank"
              .col-md-5
              .col-md-4
                = link_to "ADD NEW SERVICE/PRODUCT", new_service_product_path, class: "btn btn-block btn-primary"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th No.
                %th Name
                %th Price
                %th Type Offer
                %th Action
            %tbody
              - @num = 1
              - @service_products.each do |sp|
                %tr
                  %td= @num
                  %td= sp.name
                  %td= sp.price
                  %td= sp.type
                  %td
                    = link_to "Details", service_product_path(sp.id), class: "btn btn-flat btn-xs btn-default"
                  - @num += 1
