%body{:onload => "window.print();"}
  .wrapper
    - @company_profiles.each do |company|
      %section.invoice
        .row
          .col-xs-12
            %center
              = image_tag company.logo.url(:medium)
            %center
              %small
                = company.address
            %h3
              %center
                = @header
            %br
    %table.table.table-bordered
      %thead
        %tr
          %th No.
          %th Name
          %th Price
          -if @header == "List Of All Service"
          -elsif @header == "List Of All Product"
          -else
            %th Type Offer
      %tbody
        - @num = 1
        - @service_products.each do |sp|
          %tr
            %td= @num
            %td= sp.name
            %td= sp.price
            -if @header == "List Of All Service"
            -elsif @header == "List Of All Product"
            -else
              %td= sp.type
            - @num += 1