<%= simple_form_for [@proposal, @feature_list] do |fl| %>
  <% if @feature_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature_list.errors.count, "error") %> prohibited this feature list from being saved:</h2>
      <ul>
        <% @feature_list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="ui form">
  <div class="field">
    <%= fl.input :name %>
  </div>
  <div class="field">
    <%= fl.input :description %>
  </div>
  <div class="actions">
    <%= fl.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>