%section.content-header
  %h1
    Petty Cash Voucher
    %small Control Panel
%section.content
  .row
    .col-md-12  
      .box.box-default.box-solid
        .box-header
          %h3.box-title Petty Cash Voucher List
        .box-body
          .row
            .col-md-8
            .col-md-4
              - if ( current_user.role == 'Admin' )
                = link_to "NEW PETTY CASH VOUCHER", new_petty_voucher_path, class: "btn btn-block btn-primary"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Reference No.
                %th Payee
                %th Date
                %th Actions
            %tbody
              - @petty_vouchers.each do |pv|
                %tr
                  %td= pv.reference_no
                  %td= pv.payee
                  %td= pv.petty_date
                  %td
                    = link_to "Details", petty_voucher_path(pv.id), class: "btn btn-flat btn-xs btn-default"