%section.content-header
  %h1
    Petty Cash Voucher
    %small Information
%section.content
  .ui.top.attached.tabular.menu
    %a.active.item{"data-tab" => "first"} Details
    %a.item{"data-tab" => "second"} Particulars
  .ui.bottom.attached.active.tab.segment{"data-tab" => "first"}
    .box.box-success
      .box-body
        %table.ui.selectable.celled.table
          %tbody
            %tr
              %td
                %b Reference No:
              %td= @petty_voucher.reference_no
            %tr
              %td
                %b Date:
              %td= @petty_voucher.petty_date
            %tr
              %td
                %b Payee:
              %td= @petty_voucher.payee
            %tr
              %td
                %b Approved By:
              %td= @petty_voucher.approved_by
            %tr
              %td
                %b Paid By:
              %td= @petty_voucher.paid_by
            %tr
              %td
                %b Received By:
              %td= @petty_voucher.received_by
  .ui.bottom.attached.tab.segment{"data-tab" => "second"}
    .box.box-success
      .box-body
      = render partial:"petty_vouchers/petty_particulars/new"
      %table.ui.selectable.celled.table
        %thead
          %th Particulars
          %th Amount
          %th Actions
        %tbody
          - @petty_particulars.each do |pp|
            %tr
              %td= pp.particular
              %td= pp.amount
              %td
                = link_to "EDIT", edit_petty_voucher_petty_particular_path(pp.petty_voucher, pp), class: "btn btn-success"
                = link_to "DELETE", [pp.petty_voucher, pp],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"
          %tr
            %th
              %center TOTAL
            %th 
              XXX
:javascript
  $('.menu .item').tab();