<div class="login-box">
  <div class="login-logo">
    <b>Cloudband</b>Solution
	</div>
	<div class="login-box-body">
		<p class="login-box-msg">Log In to start your session</p>
		<div class="ui form">
			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<%= f.input :email, required: false, label: false, placeholder: "E-mail", autofocus: true%>
          <br>
			    <%= f.input :password, required: false, label: false, placeholder: "Password" %>
          <br>
			    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  <div class="pull-right">
          <%= f.button :submit, "Log in", class: "btn btn-primary btn-block btn-flat" %>
			<% end %>
				</div>
				<%= render "users/shared/links" %>
		</div>
	</div>
</div>