= simple_form_for @cash_voucher, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |pv|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Cash Voucher
          .box-body
            .field
              - if (CashVoucher.count==0)
                = pv.hidden_field :reference_no, :value => 10001
              - else
                = pv.hidden_field :reference_no, :value => CashVoucher.last.reference_no + 1
            .form-group
              = pv.input :paid_to
            .form-group
              = pv.date_select :cash_date, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = pv.input :address
            .form-group
              = pv.input :received_from
            .form-group
              = pv.input :amount
            .form-group
              = pv.input :approved_by
            .form-group
              = pv.input :prepared_by
            .form-group
              = pv.input :checked_by
          .box-footer
            .pull-right
              %button.btn.btn-primary
                %i.save.icon>
                SAVE
          