%section.content-header
  %h1
    Cash Voucher
    %small Control Panel
%section.content
  .row
    .col-md-12
      .box.box-default.box-solid
        .box-header
          %h3.box-title Cash Voucher List
        .box-body
          - if ( current_user.role == 'Admin' )
            = link_to "NEW CASH VOUCHER", new_cash_voucher_path, class: "btn btn-block btn-primary"
            = link_to "Back", :back, class: "btn btn-flat btn-success"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Reference No.
                %th Paid To
                %th Date
                %th Actions
            %tbody
              - @cash_vouchers.each do |cv|
                %tr
                  %td= cv.reference_no
                  %td= cv.paid_to
                  %td= cv.cash_date
                  %td
                    = link_to "Details", cash_voucher_path(cv.id), class: "btn btn-flat btn-xs btn-default"

