%section.content-header
  %h1
    Cash Voucher
    %small Information
%section.content
  .row
    .col-md-12
      = link_to "UPDATE", edit_cash_voucher_path(@cash_voucher.id), class: "btn btn-flat btn-xs btn-success"
      = link_to "REMOVE", cash_voucher_path(@cash_voucher.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
  .ui.top.attached.tabular.menu
    %a.active.item{"data-tab" => "first"} Details
    %a.item{"data-tab" => "second"} Particulars
  .ui.bottom.attached.active.tab.segment{"data-tab" => "first"}
    .box.box-success
      .box-body
        %table.ui.selectable.celled.table
          %tbody
            %tr
              %td
                %b Reference No:
              %td= @cash_voucher.reference_no
            %tr
              %td
                %b Date:
              %td= @cash_voucher.cash_date
            %tr
              %td
                %b Paid To:
              %td= @cash_voucher.paid_to
            %tr
              %td
                %b Address:
              %td= @cash_voucher.address
            %tr
              %td
                %b Amount:
              %td= @cash_voucher.amount
            %tr
              %td
                %b Received From:
              %td= @cash_voucher.received_from
            %tr
              %td
                %b Prepared By:
              %td= @cash_voucher.prepared_by
            %tr
              %td
                %b Checked By:
              %td= @cash_voucher.checked_by
            %tr
              %td
                %b Approved By:
              %td= @cash_voucher.approved_by
  .ui.bottom.attached.tab.segment{"data-tab" => "second"}
    .box.box-success
      .box-body
      = render partial:"cash_vouchers/cash_particulars/new"
      %table.ui.selectable.celled.table
        %thead
          %th Particulars
          %th Amount
          %th Actions
        %tbody
          - @cash_particulars.each do |pp|
            %tr
              %td= pp.particular
              %td= pp.amount
              %td
                = link_to "UPDATE", edit_cash_voucher_cash_particular_path(pp.cash_voucher, pp), class: "btn btn-flat btn-xs btn-success"
                = link_to "REMOVE", [pp.cash_voucher, pp],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          %tr
            %th
              %center TOTAL
            %th 
              = @cash_particulars.sum(:amount)
            %th
:javascript
  $('.menu .item').tab();