.row
  = simple_form_for [@employee, @work_experience], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |f|
    %form{:role => "form"}
      .col-md-6
        .field
          = f.input :title
        .field
          = f.input :company_name
      .col-md-6
        .field
          = f.input :company_address
        .field
          = f.date_select :date_ended, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
      .row
        .col-md-3
          = f.submit class: "btn btn-success"