= simple_form_for [@employee, @work_experience], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |f|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title Work Experience
          .box-body
            .form-group
              = f.input :title
            .form-group
              %label Date Ended
              %br
                = f.date_select :date_ended, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = f.input :company_name
            .form-group
              = f.input :company_address
            .pull-right
              = f.submit class: "btn btn-primary"              


    / .field
    /   = f.input :title
    / .field
    /   = f.input :company_name
    / .field
    /   = f.input :company_address
    / .form-group
    /   %label Date Ended
    /   %br
    /     = f.date_select :date_ended, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
    / .pull-right
    /   = f.submit class: "btn btn-primary"

