<section class="content-header">
	<h1>Check Account
		<small>Edit</small>
	</h1>
</section>

<section class="content">
	<%= simple_form_for [@check_voucher, @check_account], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |ca| %>
  <form role="form">
    <div class="field">
      <%= ca.association :accounting_codes, as: :select, collection: AccountingCode.all %>
    </div>
    <div class="field">
        <%= ca.input :trans_type, as: :select, collection: CheckAccount::POST_TYPE %>      
    </div>
    <div class="field">
      <%= ca.input :amount %>
    </div>
      <%= ca.submit class: "btn btn-primary" %>
    </div>
  </form>
  <% end %>
</div>

</section>

