= simple_form_for @client, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |c|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Client
          .box-body
            .form-group
              = c.input :client_name
            .form-group
              = c.input :address
            .form-group
              = c.input :primary_contact
            .form-group
              = c.input :secondary_contact
            .form-group
              = c.input :telephone
            .form-group
              = c.input :email_address
            .form-group
              = c.input :company_name
            .form-group
              = c.input :website
            .field
              = c.input :status, as: :select, collection: Client::STATUS
            .form-group
              = c.input :tin
            .form-group
              = c.input :company_address
          .box-footer
            .pull-right
              %button.btn.btn-primary
                %i.save.icon>
                SAVE
