%section.content-header
  %h1
    Client
    %small Control Panel
    
%section.content
  .row
    .col-md-3
      .box.box-default
        .box-header
          %h3.box-title Search Tool
        .box-body
    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Client List
        .box-body
          .row
            .col-md-9
            .col-md-3
              = link_to "Add New Client Info", new_client_path, class: "btn btn-block btn-primary"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th No.
                %th Client Name
                %th Telephone
                %th Company Name
                %th Actions
            %tbody
              - @num = 1
              - @clients.each do |c|
                %tr
                  %td= @num
                  %td= c.client_name
                  %td= c.telephone
                  %td= c.company_name
                  %td
                    = link_to "Details", client_path(c.id), class: "btn btn-flat btn-xs btn-default"
                  - @num += 1