%section.content-header
  %h1
    Client
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-xs btn-success"
      .pull-right
        - if ( current_user.role == 'Admin' )
          = link_to "UPDATE", edit_client_path(@client.id), class: "btn btn-flat btn-xs btn-success"
          = link_to "REMOVE", client_path(@client.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          = link_to "PRINT", clients_details_path(@client.id), class: "btn btn-flat btn-xs btn-primary", target: "blank"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Company Profile
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#three"} Lists Of Orders
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Name:
                  %td= @client.client_name
                %tr
                  %td
                    %b Address:
                  %td= @client.address
                %tr
                  %td
                    %b Email Address:
                  %td= @client.email_address
                %tr
                  %td
                    %b Telephone:
                  %td= @client.telephone
          #two.tab-pane
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Name:
                  %td= @client.company_name
                %tr
                  %td
                    %b Website:
                  %td= @client.website
                %tr
                  %td
                    %b TIN No.:
                  %td= @client.tin
                %tr
                  %td
                    %b Address:
                  %td= @client.company_address
                %tr
                  %td
                    %b Status:
                  %td= @client.status

          #three.tab-pane
            %table.ui.selectable.celled.table
              %thead
                %h1 Click Details to see all order list
                %tr
                  %th No.
                  %th Employee Name
                  %th Actions
              %tbody
                - @num = 1
                - @proj.each do |p|
                  %tr
                    %td= @num
                    %td= p.employee.to_s
                    %td
                      = link_to "Details", order_path(p.id), class: "btn btn-flat btn-xs btn-default"    
                    - @num += 1

            