<div class="ui segment">
	<div class="ui top attached tabular menu">
	  <a class="active item" data-tab="first">Client Info</a>
	  <a class="item" data-tab="second">Client Company Info</a>
	</div>

	<div class="ui bottom attached active tab segment" data-tab="first">
	  <h1>Clients Information</h1>
			<table class="table table-bordered">
			<div class="box box-success">
			</div>
				<thead>
					<tr>
						<th>Name of Client</th>
						<th>Address</th>
						<th>Telephone</th>
						<th>Email Address</th>
					</tr>
				</thead>
				<tbody>
					<% @client.each do |c| %>
						<tr>
							<td><%= c.client_name %></td>
							<td><%= c.address %></td>
							<td><%= c.telephone %></td>
							<td><%= c.email_address %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
	</div>

	<div class="ui bottom attached tab segment" data-tab="second">
		<h1>Clients Company Information</h1>
		<table class="table table-bordered">
		<div class="box box-success">
		</div>
			<thead>
				<tr>
					<th>Name of Company</th>
					<th>Website</th>
					<th>Status</th>
					<th>tin</th>
					<th>Company Address</th>
				</tr>
			</thead>
			<tbody>
				<% @client.each do |company| %>
					<tr>
						<td><%= company.company_name %></td>
						<td><%= company.website %></td>
						<td><%= company.status %></td>
						<td><%= company.tin %></td>
						<td><%= company.company_address %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>	
</div>
<script>
$('.menu .item')
  .tab()
;
</script>