%section.content-header
  %h1
    Client
    %small Information
%section.content
  .row
    .col-md-12
      - if ( current_user.role == 'Admin' )
        = link_to "Back", :back, class: "btn btn-flat btn-success"
        = link_to "UPDATE", edit_client_path(@client.id), class: "btn btn-flat btn-xs btn-success"
        = link_to "REMOVE", client_path(@client.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
        = link_to "PRINT", clients_details_path(@client.id), class: "btn btn-flat btn-xs btn-primary"
      .ui.top.attached.tabular.menu
        %a.active.item{"data-tab" => "first"} Details
        %a.item{"data-tab" => "second"} Company Profile
        %a.item{"data-tab" => "third"} List Of Orders
      .ui.bottom.attached.active.tab.segment{"data-tab" => "first"}
        .box.box-success
          .box-body
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Name:
                  %td= @client.client_name
                %tr
                  %td
                    %b Address:
                  %td= @client.address
                %tr
                  %td
                    %b Email Address:
                  %td= @client.email_address
                %tr
                  %td
                    %b Telephone:
                  %td= @client.telephone

      .ui.bottom.attached.tab.segment{"data-tab" => "second"}
        .box.box-success
          .box-body
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Name:
                  %td= @client.company_name
                %tr
                  %td
                    %b Website:
                  %td= @client.website
                %tr
                  %td
                    %b TIN No.:
                  %td= @client.tin
                %tr
                  %td
                    %b Address:
                  %td= @client.company_address
                %tr
                  %td
                    %b Status:
                  %td= @client.status

      .ui.bottom.attached.tab.segment{"data-tab" => "third"}
        %table.ui.selectable.celled.table
          %thead
            %tr
              %th Service Products
              %th Amount
          %tbody
            - @order_particulars.each do |op|
              %tr
                %td= op.service_product.name
                %td= op.service_product.price
            %th{:colspan => "2"}
              %center Total
                    
:javascript
  $('.menu .item').tab();