= simple_form_for @company_expense, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |ce|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Company Expenses
          .box-body
            .form-group
              = ce.input :name
            .form-group
              = ce.input :remarks
            .field
              %label Expense Date
              %br
                = ce.date_select :exdate, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = ce.input :amount
          .box-footer
            .pull-right
              %button.btn.btn-primary.btn-flat
                %i.save.icon>
                SAVE
      