%body{:onload => "window.print();"}
  .wrapper
    - @company_profiles.each do |company|
      %section.invoice
        .row
          .col-xs-12
            %center
              = image_tag company.logo.url(:medium)
            %center
              %small
                = company.address
            %h3
              %center
                = @header
            %br
    %table.table.table-bordered
      %thead
        %tr
          %th No
          %th Name
          %th Remark
          %th Date
          %th Amount
      %tbody
      - @num = 1
      - @company_expenses.each do |ce|
        %tr
          %td= @num
          %td= ce.name
          %td= ce.remarks
          %td= ce.exdate
          %td= ce.amount
          - @num += 1

      - if @check == "TRUE"
        %tr
          %th{:colspan => "3"}
            %center TOTAL
          %th= @company_expenses.sum(:amount)
          %th