- @company_profiles.each do |company|
  %section.content-header
    %h1
      Company
      %small Profile
      .pull-right
        - if ( current_user.role == 'Admin' )
          - if (CompanyProfile.count == 0)
            = link_to "Add Company Information", new_company_profile_path, class: "btn btn-flat btn-xs btn-primary"
          - else
            = link_to "Update Company Information", edit_company_profile_path(company.id), class: "btn btn-flat btn-xs btn-success"
  %section.content
    .row
      .col-md-12
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.active
              %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} About Us
            %li
              %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Contact Us
            %li
              %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#third"} Our Team
          .tab-content
            #one.tab-pane.active
              .row
                .col-md-5
                  %dl
                    %dt Company Name
                    %dd
                      = company.company_name
                    %br/
                    %dt Website
                    %dd
                      = company.website
                    %br/
                    %dt Tin Number
                    %dd
                      = company.tin
                    %br/
                    %dt Mission
                    %dd
                      = company.mission
                    %br/
                    %dt Vission
                    %dd
                      = company.vission
                    / %br/
                    / %dt Telephone
                    / %dd
                    /   = company.telephone
                .col-md-7
                = image_tag company.logo.url(:medium)
            #two.tab-pane
              %dl
                %dt Website
                %dd
                  = company.website
                %br/
                %dt Address
                %dd
                  = company.address
                %br/
                %dt Telephone
                %dd
                  = company.telephone
                %br/
                %dt Email Address
                %dd
                  = company.email_add
            #third.tab-pane
              .box-body
                .box-header.with-border
                .box-body.no-padding
                  %ul.users-list.clearfix
                    %li
                      %img{:alt => "User Image", :src => "/assets/avatar04.png"}
                        %a.users-list-name{:href => "#"} Raphael Alampay
                        %span.users-list-position Senior Managing Partner
                        %br
                        %span.users-list-company Cloudband Solution Co.
                    %li
                      %img{:alt => "User Image", :src => "/assets/avatar2.png"}
                        %a.users-list-name{:href => "#"} Kathleen Zita Gayle Logmao
                        %span.users-list-position Managing Partner
                        %br
                        %span.users-list-company Cloudband Solution Co.
                    %li
                      %img{:alt => "User Image", :src => "/assets/avatar3.png"}
                        %a.users-list-name{:href => "#"} Lani Gonzalez
                        %span.users-list-position Admin
                        %br
                        %span.users-list-company Cloudband Solution Co.
                    %li
                      %img{:alt => "User Image", :src => "/assets/avatar5.png"}
                        %a.users-list-name{:href => "#"} Aljon Laureano
                        %span.users-list-position Web Developer
                        %br
                        %span.users-list-company Cloudband Solution Co.
                    / %li
                    /   %img{:alt => "User Image", :src => "/assets/kai.jpg"}
                    /     %a.users-list-name{:href => "#"} Kaiser Velilia
                    /     %span.users-list-position OJT
                    / %li
                    /   %img{:alt => "User Image", :src => "/assets/jay.jpg"}
                    /     %a.users-list-name{:href => "#"} Jaypee Lacsa
                    /     %span.users-list-position OJT
