.container
  .ui.segment
    %br
      %h1 Company Information
      %table.table.table-bordered
        .box.box-success
        %thead
          %tr
            %th Name of Company
            %th Telephone Number
            %th Website
            %th Address
            %th Tin
        %tbody
          - @company_profile.each do |company|
            %tr
              %td= company.company_name
              %td= company.telephone
              %td= company.website
              %td= company.address
              %td= company.tin
              / %td= image_tag @company.logo.url(:thumb)
              