.container
  .ui.segment
    %br
      %h1 Company Information
      %table.table.table-bordered
        .box.box-success
        %thead
          %tr
            %th Name of Company
            %th Telephone Number
            %th Website
            %th Address
            %th Tin
            %th Company Logo
        %tbody
          %tr
            %td= @company_profile.company_name
            %td= @company_profile.telephone
            %td= @company_profile.website
            %td= @company_profile.address
            %td= @company_profile.tin
            %td= image_tag @company_profile.logo.url(:thumb)
              