%section.content-header
  %h1
    Order
    %small Control Panel
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
          .pull-right
            %i.inverted.circular.search.link.icon
        .box-body
          = render partial:"search"
    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Order List
        .box-body
          .row
            .col-md-3
              = link_to "STATUS LIST", status_list_path, class: "btn btn-block btn-primary btn-flat"
            .col-md-6
            .col-md-3
              - if ( current_user.role == 'Admin' )
                = link_to "ADD NEW ORDER", new_order_path, class: "btn btn-block btn-primary btn-flat"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th No.
                %th Employee Name
                %th Client Name
                %th Client Company Name
                %th Actions
            %tbody
              - @num = 1
              - @orders.each do |o|
                %tr
                  %td= @num
                  %td= o.employee.to_s
                  %td= o.client.to_s
                  %td= o.client.company_name
                  %td
                    = link_to "Details", order_path(o.id), class: "btn btn-flat btn-xs btn-default"    
                  - @num += 1
