%body{:onload => "window.print();"}
  .wrapper
    - @company_profiles.each do |company|
      %section.invoice
        .row
          .col-xs-12
            %center
              = image_tag company.logo.url(:medium)
            %center
              %small
                = company.address
            %h3
              %center
                = @header
            %br
    %table.table.table-bordered
      %thead
        %tr
          %th Bill No.
          %th Bill To
          %th Certified By
          %th TIN
          %th Date
      %tbody
        - @billings.each do |b|
          %tr
            %td= b.bill_no
            %td= b.client.company_name
            %td= b.certified_by
            %td= b.client.tin
            %td= b.bill_date