%section.content-header
  %h1
    Order
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-xs btn-success"
      .pull-right
        - if ( current_user.role == 'Admin' )
          = link_to "UPDATE", edit_order_path(@order.id), class: "btn btn-flat btn-xs btn-success"
          = link_to "REMOVE", order_path(@order.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Order List
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Employee Name:
                  %td= @order.employee.to_s
                %tr
                  %td
                    %b Position:
                  %td= @order.employee.position
                %tr
                  %td
                    %b Client Company Name:
                  %td= @order.client.company_name
                %tr
                  %td
                    %b Client Name:
                  %td= @order.client.client_name
                %tr
                  %td
                    %b Contact No:
                  %td= @order.client.telephone
          #two.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"orders/order_particulars/new"
            %table.ui.selectable.celled.table
              %thead
                %th Service/Product Name
                %th Price
                %th Quantity
                %th Total Price
                %th Status
                - if ( current_user.role == 'Admin' )
                  %th Actions
              %tbody
                - @order_particulars.each do |op|
                  %tr
                    %td= op.service_product.name
                    %td= op.service_product.price
                    %td= op.quantity
                    - @total = op.service_product.price * op.quantity 
                    %td= @total
                    %td
                      - if op.status == "pending" 
                        %span.label.label-warning= op.status
                      - elsif op.status == "approved"
                        %span.label.label-info= op.status
                      - else
                        %span.label.label-danger= op.status
                    - if ( current_user.role == 'Admin' )
                      %td
                        - if op.status == "pending"
                          = link_to 'APPROVED', order_approve_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-info"
                        - elsif op.status == "approved"
                          = link_to 'FINISH', order_approve_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-info"
                        = link_to "UPDATE", edit_order_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [op.order, op],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"