%section.content-header
  %h1
    Order
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-xs btn-success"
      .pull-right
        - if ( current_user.role == 'Admin' )
          = link_to "UPDATE", edit_order_path(@order.id), class: "btn btn-flat btn-xs btn-success"
          = link_to "REMOVE", order_path(@order.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          / = link_to "PRINT",   orders_print_all_path(@order.id), class: "btn btn-flat btn-xs btn-primary", target: "blank"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Order
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#three"} Payment
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Employee Name:
                  %td= @order.employee.to_s
                %tr
                  %td
                    %b Position:
                  %td= @order.employee.position
                %tr
                  %td
                    %b Client Company Name:
                  %td= @order.client.company_name
                %tr
                  %td
                    %b Client Name:
                  %td= @order.client.client_name
                %tr
                  %td
                    %b Contact No:
                  %td= @order.client.telephone
          #two.tab-pane
            - if ( current_user.role == 'Admin' )
              - if (@order_particulars.count == 0)
                = render partial:"orders/order_particulars/new"

            %table.ui.selectable.celled.table
              %thead
                %th Service/Product Name
                %th Price
                %th Quantity
                %th Total Price
                %th Status
                - if ( current_user.role == 'Admin' )
                  - @order_particulars.each do |yu|
                    -if yu.status == "finish"
                    -else
                      %th Actions
              %tbody
                - @order_particulars.each do |op|
                  %tr
                    %td= op.service_product.name
                    %td= op.service_product.price
                    %td= op.quantity
                    - @total = op.service_product.price * op.quantity
                    -@balance = @total - @order_payments.sum(:amount) 
                    %td= @total
                    %td
                      - if op.status == "pending" 
                        %span.label.label-warning= op.status
                      - elsif op.status == "approved"
                        %span.label.label-info= op.status
                      - elsif op.status == "finish"
                        %span.label.label-primary= op.status
                      - else
                        %span.label.label-danger= op.status
                    - if ( current_user.role == 'Admin' )
                      - if op.status == "finish"
                      - elsif op.status == "maintaining"
                        %td
                          = link_to 'FINISH', order_approve_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-info"
                      - else
                        %td
                          - if op.status == "pending"
                            = link_to 'APPROVED', order_approve_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-info"
                          - if @balance == 0
                            = link_to 'FINISH', order_approve_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-info"
                            = link_to 'MAINTAINING', order_maintain_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-primary"
                          = link_to "UPDATE", edit_order_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-success"
                          = link_to "REMOVE", [op.order, op],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          #three.tab-pane
            .row
              .col-md-4
                - if (@order_particulars.count == 0)
                  %center
                    %h2 No Approved Order Found 
                -else
                  - @order_particulars.each do |op|
                    - if op.status == "pending"
                      %center
                        %h2 No Approved Order Found 
                    - else
                      %table.ui.selectable.celled.table
                        %tbody
                          %tr
                            %td
                              %b Order
                            %td= op.service_product.name
                          %tr
                            %td
                              %b Wishlist
                            %td= @order.client.client_name
                          %tr
                            %td
                              %b Code
                            %td= op.service_product.code
                          %tr
                            %td
                              %b Unit Price
                            %td= op.service_product.price
                          %tr
                            %td
                              %b Type
                            %td= op.service_product.type
                          %tr
                            %td
                              %b Quantity
                            %td= op.quantity
                          %tr
                            %td
                              %b Status
                            %td= op.status
                          %tr
                            %td
                              %b Balance
                            %td= @balance
              .col-md-8
                - if ( current_user.role == 'Admin' )
                  - if @balance == 0
                    - @order_particulars.each do |d|
                      - if d.status == "maintaining"
                        = render partial:"orders/order_payments/new"
                  -else
                    - if (@order_particulars.count == 0)
                    - else
                      - @order_particulars.each do |op|
                        - if op.status == "pending"
                        - elsif op.status == "finish"
                        - else
                          = render partial:"orders/order_payments/new"
                - if (@order_payments.count == 0)
                  %center
                    %h2 No Billing Records Found
                -else
                  %table.ui.selectable.celled.table
                    %thead
                      %th Particular
                      %th Currency
                      %th Amount
                      - if ( current_user.role == 'Admin' )
                        - @order_particulars.each do |y|
                          - if y.status == "finish"
                            %th Actions
                          - else
                            %th Actions
                    %tbody
                      - @order_payments.each do |x|
                        %tr
                          %td= x.particular
                          %td= x.currency
                          %td= x.amount
                          - if ( current_user.role == 'Admin' )
                            - @order_particulars.each do |p|
                              - if p.status == "finish"
                                %td
                                  = link_to "VIEW", order_order_payment_path(p.order, p), class: "btn btn-flat btn-xs btn-primary"
                              - else
                                %td
                                  = link_to "REMOVE", [x.order, x],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
                                  = link_to "VIEW", order_order_payment_path(x.order, x), class: "btn btn-flat btn-xs btn-primary"
                      %th
                        %center TOTAL PAYMENT
                      %th 
                      %th
                        = @order_payments.sum(:amount)
                      - @order_particulars.each do |m|
                        - if m.status == "finish"
                        - else  
                          %th
                      