%section.content-header
  %h1
    Order
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-xs btn-success"
      .pull-right
        - if ( current_user.role == 'Admin' )
          = link_to "UPDATE", edit_order_path(@order.id), class: "btn btn-flat btn-xs btn-success"
          = link_to "REMOVE", order_path(@order.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} List
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#three"} Payment
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Employee Name:
                  %td= @order.employee.to_s
                %tr
                  %td
                    %b Position:
                  %td= @order.employee.position
                %tr
                  %td
                    %b Client Company Name:
                  %td= @order.client.company_name
                %tr
                  %td
                    %b Client Name:
                  %td= @order.client.client_name
                %tr
                  %td
                    %b Contact No:
                  %td= @order.client.telephone
          #two.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"orders/order_particulars/new"
            %table.ui.selectable.celled.table
              %thead
                %th Service/Product Name
                %th Quantity
                %th Status
                - if ( current_user.role == 'Admin' )
                  %th Actions
              %tbody
                - @order_particulars.each do |op|
                  %tr
                    %td= op.service_product.name
                    %td= op.quantity
                    %td 
                      %span.label.label-warning= op.status
                    %td
                      - if ( current_user.role == 'Admin' )
                        = link_to 'Approve', approve_order_particular_path(op..id), class: "btn btn-flat btn-xs btn-success"
                        = link_to "UPDATE", edit_order_order_particular_path(op.order, op), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [op.order, op],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"

          #three.tab-pane

:javascript
  $('.menu .item').tab();