= simple_form_for @billing, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |e|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-success
          .box-body
            .form-group
              = e.hidden_field :bill_no
            .form-group
              = e.association :client, as: :select, client: Client.all
            .form-group
              = e.date_select :bill_date, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = e.input :certified_by
          .box-footer
            .pull-right
              %button.btn.btn-primary
                %i.save.icon>
                SAVE
            
            