= simple_form_for @billing, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |e|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Billing
          .box-body
            .form-group
              - @billing_count = Billing.count
              - @payment_count = OrderPayment.count
              - @current = @billing_count + @payment_count
              - if (@current==0)
                = e.hidden_field :bill_no, :value => 001
              - else
                = e.hidden_field :bill_no, :value => @current + 1
            .form-group
              = e.association :client, as: :select, client: Client.all
            .form-group
              %label Bill Date
              %br
                = e.date_select :bill_date, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = e.input :certified_by
          .box-footer
            .pull-right
              %button.btn.btn-primary.btn-flat
                %i.save.icon>
                SAVE
           
      