%section.content-header
  %h1
    Statement Of Account
    %small Control Panel
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
          .pull-right
            %i.inverted.circular.search.link.icon
        .box-body
          = render partial: "search"

    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Billing List
        .box-body
          - if ( current_user.role == 'Admin' )
            .row
              .col-md-3
                = link_to "REPORTS", billings_print_path, class: "btn btn-block btn-primary btn-flat", target: "blank"
              .col-md-6
              .col-md-3
                = link_to "NEW BILLING", new_billing_path, class: "btn btn-block btn-primary btn-flat"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Bill No.
                %th Bill To
                %th Client TIN
                %th Date
                %th Actions
            %tbody
              - @billings.each do |b|
                %tr
                  %td= b.bill_no
                  %td= b.client.company_name
                  %td= b.client.tin
                  %td= b.bill_date
                  %td
                    = link_to "Details", billing_path(b.id), class: "btn btn-flat btn-xs btn-default"
