%section.content-header
  %h1
    Statement Of Account
    %small Information
    .pull-right
      - if ( current_user.role == 'Admin' )
        = link_to "UPDATE", edit_billing_path(@billing.id), class: "btn btn-flat btn-xs btn-success"
        = link_to "REMOVE", billing_path(@billing.id), data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
        = link_to "PRINT",   billings_details_path(@billing.id), class: "btn btn-flat btn-xs btn-primary", target: "blank"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Particulars
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Bill No:
                  %td= @billing.bill_no
                %tr
                  %td
                    %b Date:
                  %td= @billing.bill_date
                %tr
                  %td
                    %b Billed To:
                  %td= @billing.client.company_name
                %tr
                  %td
                    %b Client TIN:
                  %td= @billing.client.tin
                %tr
                  %td
                    %b Certified By:
                  %td= @billing.certified_by
          #two.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"billings/billing_particulars/new"
            %table.ui.selectable.celled.table
              %thead
                %th Particulars
                %th Currency
                %th Amount
                - if ( current_user.role == 'Admin' )
                  %th Actions
              %tbody
                - @billing_particulars.each do |bp|
                  %tr
                    %td= bp.particular
                    %td= bp.currency
                    %td= bp.amount
                    - if ( current_user.role == 'Admin' )
                      %td
                        = link_to "UPDATE", edit_billing_billing_particular_path(bp.billing, bp), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [bp.billing, bp],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
                %tr
                  %th
                    %center TOTAL
                  %th 
                  %th
                    = @billing_particulars.sum(:amount)