%section.content-header
  %h1
    Accounting Code
    %small Control Panel
%section.content
  .row
    .col-md-12
      .box.box-default.box-solid
        .box-header
          %h3.box-title Accounting Code List

        .box-body
          .row
            .col-md-9
            .col-md-3
          - if ( current_user.role == 'Admin' )
            = link_to "Add New Accounting Code", new_accounting_code_path, class: "btn btn-block btn-primary"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Name
                %th Code
                %th Actions
            %tbody
              - @accounting_codes.each do |ac|
                %tr
                  %td= ac.name
                  %td= ac.code
                  %td
                    = link_to "UPDATE", edit_accounting_code_path(ac.id), class: "btn btn-flat btn-xs btn-success"
                    = link_to "REMOVE", accounting_code_path(ac.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"