= simple_form_for @proposal, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |p|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Proposal
          .box-body
            .form-group
              = p.input :title
            .form-group
              %label Proposal Date
              %br
              = p.date_select :proposal_date, as: :date, start_year: Date.today.year - 100, :prompt => { :day => 'Day', :month => 'Month', :year => 'Year' }
            .form-group
              = p.input :overview
            .form-group
              = p.input :objective
            .field
              = p.input :system_architecture, as: :file
            .form-group
              = p.input :hardware
            .form-group
              = p.input :software
            .form-group
              = p.input :feature
            .field
              = p.input :project_costing_description
            .form-group
              = p.input :signatory
            .form-group
              = p.association :employee, as: :select, collection: Employee.all
            .form-group
              = p.association :client, as: :select, collection: Client.all
          .box-footer
            .row
              .col-md-10
              .col-md-2
                %button.btn.btn-primary.btn-flat
                  %i.save.icon>
                  SAVE
