%section.content-header
  %h1
    Proposals
    %small Control Panel
    
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
        .box-body
          = render partial: "search"
    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Proposal List
        .box-body
          .row
            .col-md-9
            .col-md-3
              - if ( current_user.role == 'Admin' )
                = link_to "ADD NEW PROPOSAL", new_proposal_path, class: "btn btn-block btn-primary"
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Title Of Proposal
                %th Date
                %th Actions
            %tbody
              - @proposals.each do |p|
                %tr
                  %td= p.title
                  %td= p.proposal_date
                  %td
                    = link_to "Details", proposal_path(p.id), class: "btn btn-flat btn-xs btn-default"
                   