%section.content-header
  %h1
    Proposal
    %small Information
    .pull-right
      - if ( current_user.role == 'Admin' )
        = link_to "UPDATE", edit_proposal_path(@proposal.id), class: "btn btn-flat btn-xs btn-success"
        = link_to "REMOVE", proposal_path(@proposal.id), data: { :confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
        = link_to "PRINT", proposals_details_path(@proposal.id), class: "btn btn-flat btn-xs btn-primary", target: "blank"
%section.content
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#one"} Details
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#two"} Software Requirements
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#three"} Software Browser Requirements
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#four"} Project Costing
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#five"} Feature List
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#six"} Terms And Conditions 
        .tab-content
          #one.tab-pane.active
            %table.ui.selectable.celled.table
              %tbody
                %tr
                  %td
                    %b Title Proposal:
                  %td= @proposal.title
                %tr
                  %td
                    %b Date:
                  %td= @proposal.proposal_date
                %tr
                  %td
                    %b Overview:
                  %td= @proposal.overview
                %tr
                  %td
                    %b Objectives:
                  %td= @proposal.objective
                %tr
                  %td
                    %b System Architecture
                  %td= image_tag @proposal.system_architecture.url(:thumb)
                %tr
                  %td
                    %b Hardware:
                  %td= @proposal.hardware
                %tr
                  %td
                    %b Software:
                  %td= @proposal.software
                %tr
                  %td
                    %b Features:
                  %td= @proposal.feature
                %tr
                  %td
                    %b Project Costing:
                  %td= @proposal.project_costing_text
                %tr
                  %td
                    %b Signatories:
                  %td= @proposal.signatory
                %tr
                  %td
                    %b Prepared by:
                  %td= @proposal.employee.to_s
                %tr
                  %td
                    %b Recieved by:
                  %td= @proposal.client.to_s
          #two.tab-pane
            %table.ui.selectable.celled.table
              - if ( current_user.role == 'Admin' )
                = render partial:"proposals/software_requirements/new"
              %thead
                %tr
                  %th Components
                  %th Amount
                  - if ( current_user.role == 'Admin' )
                    %th Action
              %tbody
                - @software_requirements.each do |sr|
                  %tr
                    %td= sr.component
                    %td= sr.cost
                    - if ( current_user.role == 'Admin' )
                      %td
                        / = link_to "UPDATE", edit_proposal_software_requirement_path(sr.proposal, sr), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [sr.proposal, sr],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
                %th Total
                %td= @software_requirements.sum(:cost) 
          #three.tab-pane
            %table.ui.selectable.celled.table
              - if ( current_user.role == 'Admin' )
                = render partial:"proposals/software_browsers/new"
              %thead
                %tr
                  %th Browsers
                  - if ( current_user.role == 'Admin' )
                    %th Action
              %tbody
                - @software_browsers.each do |sb|
                  %tr
                    %td= sb.name
                    - if ( current_user.role == 'Admin' )
                      %td
                        / = link_to "UPDATE", edit_proposal_software_browser_path(sb.proposal, sb), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [sb.proposal, sb],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
          #four.tab-pane
            %table.ui.selectable.celled.table
              - if ( current_user.role == 'Admin' )
                = render partial:"proposals/costings/new"
              %thead
                %tr
                  %th Description
                  %th Cost
                  - if ( current_user.role == 'Admin' )
                    %th Action
              %tbody
                - @costings.each do |c|
                  %tr
                    %td= c.description
                    %td= c.cost
                    - if ( current_user.role == 'Admin' )
                      %td
                        / = link_to "UPDATE", edit_proposal_costing_path(c.proposal, c), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [c.proposal, c],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
                %th Total
                %td= @costings.sum(:cost) 
        
          #five.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"proposals/feature_lists/new"
            .ui.middle.aligned.divided.list
              - @feature_lists.each do |fl|
                - if fl.is_not_feature?
                  .item
                    .right.floated.content
                      - if ( current_user.role == 'Admin' )
                        = link_to "DELETE", [fl.proposal, fl],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"
                        = link_to "Add Particular Feature", new_proposal_feature_list_path(@proposal.id, parent_feature_list_id: fl.id), class: "btn btn-flat btn-xs btn-success"
                    .content
                      %ul
                        %li
                          %b
                            = fl.name
                        = fl.description
                      %br
                        .content
                          - fl.list_of_features.each do |fl|
                            %ul
                              %li
                                %b
                                  = fl.name
                              = fl.description
          #six.tab-pane
            - if ( current_user.role == 'Admin' )
              = render partial:"proposals/terms_conditions/new"
            %table.ui.selectable.celled.table
              %thead
                %th Term
                %th Conditions
                - if ( current_user.role == 'Admin' )
                  %th Actions
              %tbody
                - @terms_conditions.each do |tc|
                  %tr
                    %td= tc.name
                    %td= tc.content
                    - if ( current_user.role == 'Admin' )
                      %td
                        / = link_to "UPDATE", edit_proposal_terms_condition_path(tc.proposal, tc), class: "btn btn-flat btn-xs btn-success"
                        = link_to "REMOVE", [tc.proposal, tc],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-flat btn-xs btn-danger"                
