%body{:onload => "window.print();"}
  .wrapper
    - @company_profiles.each do |company|
      %section.invoice
        .row
          .col-xs-12
            %center
              = image_tag company.logo.url(:medium)
            %center
              %small
                = company.address
            %h3
              %center
                PAYMENT / CHECK VOUCHER

        %br
        .row.invoice-info
          .col-md-6.invoice-col
            %table.table.table-striped
              %thead
                %tr
                  %th PAYEE
              %tbody
                %tr
                  %td= @check_voucher.payee
          .col-md-3.invoice-col
          .col-md-3.invoice-col
            %p
              %b
                CV No.
              = @check_voucher.reference_no
            %p
              %b
                Date:
              = @check_voucher.check_date
            %p
              %b
                Bank Name:
              = @check_voucher.bank
            %p
              %b
                Check No.
              = @check_voucher.check_no
            %p
              %b
                SI No.
              = @check_voucher.si_no
            %p
              %b
                OR No.
              = @check_voucher.or_no
            %p
              %b
                APV/JV No.
              = @check_voucher.apv_no
 

      .row
        .col-xs-12.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th PARTICULARS
                %th AMOUNT
            %tbody
              - @check_particulars.each do |cp|
                %tr
                  %td= cp.particular
                  %td{:rowspan => "2"}= cp.amount
                %tr
                  %td= cp.amount_in_word

      %br
      .row
        .col-xs-12.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Account Title
                %th Accounting Code
                %th Debit
                %th Credit
            %tbody
              - @debit = 0
              - @credit = 0
              - @check_accounts.each do |ac|
                %tr
                  %td= ac.accounting_code.name
                  %td= ac.accounting_code.code
                  - if ac.trans_type == 'Debit'
                    %td= ac.amount
                    %td
                    - @debit += ac.amount
                  - else
                    %td
                    %td= ac.amount
                    - @credit += ac.amount
              %th{:colspan => "2"}
                %center Total
              %th= @debit
              %th= @credit
      %br
      .row.invoice-info
        .col-md-3.invoice-col
          %p
            %b
              Prepared by:
          = @check_voucher.prepared_by
          %p
            %b
              Date:
        .col-md-3.invoice-col
          %p
            %b
              Checked and Reviewed by:
          = @check_voucher.certified_by
          %p
            %b
              Date:
        .col-md-3.invoice-col
          %p
            %b
              Approved by:
          = @check_voucher.approved_by
          %p
            %b
              Date:
        .col-md-3.invoice-col
          %p
            %b
              Payment received by:
          = @check_voucher.received_by
          %p
            %b
              Date:

