%section.content-header
  %h1
    Check Voucher
    %small Control Panel
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Search Tool
          .pull-right
            %i.inverted.circular.search.link.icon
        .box-body
          = render partial: "search"
    .col-md-9
      .box.box-default.box-solid
        .box-header
          %h3.box-title Check Voucher List
        .box-body
          - if ( current_user.role == 'Admin' )
            .row
              .col-md-9
              .col-md-3   
                = link_to "Add New Check Voucher", new_check_voucher_path, class: "btn btn-block btn-primary btn-flat"
                
          %table.ui.selectable.celled.table
            %thead
              %tr
                %th Reference No
                %th Payee
                %th Date
                %th Actions
            %tbody
              - @check_vouchers.each do |cv|
                %tr
                  %td= cv.to_s
                  %td= cv.payee
                  %td= cv.check_date
                  %td
                    = link_to "Details", check_voucher_path(cv.id), class: "btn btn-flat btn-xs btn-default"