%section.content-header
  %h1
    Check Voucher
    %small Information
%section.content
  .ui.top.attached.tabular.menu
    %a.active.item{"data-tab" => "first"} Check Voucher
    %a.item{"data-tab" => "second"} Check Particular
    %a.item{"data-tab" => "third"} Check Account
  .ui.bottom.attached.active.tab.segment{"data-tab" => "first"}
    .box.box-success
      .box-body
        %table.ui.selectable.celled.table
          %tbody
            %tr
              %td
                %b Payee:
              %td
                = @check_voucher.payee
            %tr
              %td
                %b Reference No:
              %td
                = @check_voucher.reference_no
            %tr
              %td
                %b Date:
              %td
                = @check_voucher.check_date
            %tr
              %td
                %b Bank Name:
              %td
                = @check_voucher.bank
            %tr
              %td
                %b Check No.:
              %td
                = @check_voucher.check_no
            %tr
              %td
                %b Si No:
              %td
                = @check_voucher.si_no
            %tr
              %td
                %b Or No.:
              %td
                = @check_voucher.or_no
            %tr
              %td
                %b APV no.:
              %td
                = @check_voucher.apv_no
            %tr
              %td
                %b Received by:
              %td
                = @check_voucher.received_by
            %tr
              %td
                %b Prepaired By:
              %td
                = @check_voucher.prepared_by
            %tr
              %td
                %b Certified By:
              %td
                = @check_voucher.certified_by
            %tr
              %td
                %b Approved By:
              %td
                = @check_voucher.approved_by
  .ui.bottom.attached.tab.segment{"data-tab" => "second"}
    %h1 Check Particular
    %table.table.table-bordered
      .box.box-success
      = render partial:"check_vouchers/check_particulars/new"
      %thead
        %tr
          %th Particular
          %th Amount
          %th Amount in word(in peso)
          %th Action
      %tbody
        - @check_particulars.each do |cp|
          %tr
            %td= cp.particular
            %td= cp.amount
            %td= cp.amount_in_word
            %td
              = link_to "EDIT", edit_check_voucher_check_particular_path(cp.check_voucher, cp), class: "btn btn-success"
              = link_to "DELETE", [cp.check_voucher, cp],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"
  .ui.bottom.attached.tab.segment{"data-tab" => "third"}
    %h1 Check Accounts
    %table.table.table-bordered
      .box.box-success
      = render partial:"check_vouchers/check_accounts/new"
      %thead
        %tr
          %th Account Title
          %th Accounting Code
          %th Transaction Type
          %th Amount
          %th Action
      %tbody
        - @check_accounts.each do |ac|
          %tr
            %td= ac.accounting_code.name
            %td= ac.accounting_code.code
            %td= ac.trans_type
            %td= ac.amount
            %td
              = link_to "EDIT", edit_check_voucher_check_account_path(ac.check_voucher, ac), class: "btn btn-success"
              = link_to "DELETE", [ac.check_voucher, ac],data: {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-warning btn-s"
:javascript
  $('.menu .item')
    .tab()
  ;

